.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: rgb(131, 128, 128);
  margin: auto;
  margin-top: 50px;
}
.profile {
}

.stats {
}
.avatar {
  width: 100px;
  border-radius: 50%;
  background-color: #fff;
}
